body {
    /* background-image: url("./images/background.jpeg"); */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 98.3vh;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    padding: 30px;
    height: 450px;
    width: 500px;
    background-color: #f1f1f1;
    /* margin: auto; */
    /* margin-top: 200px; */
    border-radius: 10px;
    /* box-shadow: rgb(102, 102, 240) 10px 10px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
}

.mainSign {
    /* margin-top: 90px; */
    padding: 40px;
    height: 650px;
    width: 500px;
    background-color: #f1f1f1;
    /* margin: auto; */
    /* margin-top: 200px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
}

.sign-up-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.sign-in-form{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.container {
    padding:  0  50px;
    /* margin-left: 50px;/ */
    /* margin-top: 0px; */
}

.links{
    width:100% ;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    display: inline-block;
    color: rgb(180, 71, 180);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.input-field{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 0 10px;
}

.input-field input{
    background-color: inherit;
}

.links a:hover {
    background-color: rgb(180, 71, 180);
    color: #f1f1f1;
}

/* .links a.active {
    background-color: rgb(180, 71, 180);
    color: #f1f1f1;
} */

.links a.activeSignIn{
    background-color: rgb(180, 71, 180);
    color: #f1f1f1;
    animation-name: changecolor;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

@keyframes changecolor {
    0% {background-color: rgb(180, 71, 180);left: 0px;top: 0px;}
    25% {background-color: rgb(120, 110, 216); left: -20px; top: 0px;}
    50% {background-color: rgb(90, 185, 223);left: -40px; top: 0px;}
    75% {background-color: rgb(69, 207, 127);left: -20px; top:0px}
    100% {background-color: rgb(238, 86, 205);left: 0px; top: 0px;}
}

.links a.activeSignup{
    background-color: rgb(180, 71, 180);
    color: #f1f1f1;
    animation-name: changecolorSignup;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

@keyframes changecolorSignup {
    0% {background-color: rgb(180, 71, 180);left: 0px;top: 0px;}
    25% {background-color: rgb(120, 110, 216); left: 20px; top: 0px;}
    50% {background-color: rgb(90, 185, 223);left: 40px; top: 0px;}
    75% {background-color: rgb(69, 207, 127);left: 20px; top:0px}
    100% {background-color: rgb(238, 86, 205);left: 0px; top: 0px;}
}

#uname,
#pass,#cpass,#num,#dob,#tnc {
    /* background-color: #fff; */
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    /* border-radius: 5px; */
    border: none;
    outline: none;
}

p.forget{
    color: rgb(180, 71, 180);
}

.remember {
    margin-left: 0px;
    /* margin-top: 20px; */
    /* padding-top: 0px; */
}

.submit {
    background-color: rgb(180, 71, 180);
    color: #fff;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 12px 15px;
    border-radius: 5px;
}

.submit:hover {
    background-color: rgb(133, 53, 133);  
    transition: width 2s, height 4s; 
    /* transform: rotate(360deg); */
    width: 100px;
    /* height: 50px; */
    /* padding: 30px; */
    color: #fff;
}

.hveacc {
    background-color: #fff;
    position: relative;
    /* padding:0.1px; */
    width: 100%;
    height: 43px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hveacc a {
    text-decoration: none;
    color: rgb(133, 53, 133);
}

.tnc{
    width: 100%;
    color: rgb(133, 53, 133);
}

.profile{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid black;
    position: relative; /* Needed for tooltip positioning */
}

.tooltip {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.profile:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


#sign-in-form input:focus{
    /* background-color: rgb(223, 161, 223); */
    /* box-shadow: #333 5px 5px; */
    border: 2px solid rgb(133, 53, 133);
}

.marq{
    color: rgb(118, 118, 223);
}